<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">



	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link type="text/css" rel="stylesheet" href="../../public/assets/css/styles.css">


	<title>EAT BURGERS</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../../models/burger.js"></script>
	<script src="../../public/assets/js/burgers.js"></script>
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
		<h1 class="text-center display-4">burgers!</h1>
		<p class="lead text-center">And only burgers, we dont do cheese here.</p>
		<p class="text-center milkshakes"><small>*We do however, serve many, many rich and creamy milkshakes*</small></p>

	</div>

	<div class="container main">
		<div class="row">


			{{{ body }}}
		</div>

	</div>
	</div>
</body>
</body>

</html>