<div class="col-5 mx-auto">
  <h2 class="addBurger">Your Choice of HAMBURGER</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="burgerName">
    </div>
</div>

<div class="col-5 mx-auto">
  <h2 class="addBurger">YOUR BURGER ?</h2>
  <div class="form-group inputText">
    <label for="devoured"></label><br>
    <input class="inputText" type="radio" name="devoured" value="1" checked> Ready for muh Belly!<br>
    <input type="radio" class="inputText" name="devoured" value="0"> Already devoured!
  </div>

  <button class="btn btn-secondary btn-lg btn-block addbtn" type="submit">Add Your Burger</button>
</div>

</div>
</div>


<div class="container main">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <h2 class="innerTitle">Burgers Eaten!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
      </form>
    </div>

    <div class="col-sm-5 mx-auto">
      <h2 class="innerTitle">burgers to devoure!</h2>


      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
      </form>
    </div>
  </div>
</div>